
body{
  background-color: hsl(212, 45%, 89%);
}
.attribution {
     font-size: 11px;
     text-align: center;
     margin-top: 227px;
     margin-bottom: 227px;
}
.attribution a { color: hsl(228, 45%, 44%); } 
img{
  width: 300px;
  border: 1px solid blue;
  border-radius: 20px;
}
div{
  width: 300px;
  height: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
  
}
h3{
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.outfit-prettyfont {
font-family: "Outfit", sans-serif;
font-optical-sizing: auto;

font-style: normal;

}
div h1{
color: hsl(218, 44%, 22%);
}
div h2{
color: hsl(218, 24%, 61%);
}
